<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highserpot.background">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission tools:node="merge" android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:node="merge" />

    <application tools:node="merge" android:largeHeap="true"  android:hardwareAccelerated="true" >

        <service
            android:name="com.highserpot.background.service.TouchService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="com.highserpot.background.service.BackgroundService"
            android:foregroundServiceType="mediaProjection" />

        <activity android:name="com.highserpot.background.MediaProjectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED"/>
            </intent-filter>
        </activity>

        <activity android:name="com.highserpot.background.SampleActivity">
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">

        <meta-data android:name="com.kakao.sdk.AppKey"
                android:value="@string/NATIVE_APP_KEY" />
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
            <data android:host="oauth"
                android:scheme="kakaobf0335fc98f5ce0025b31377986a4e14" />
        </intent-filter>
    </activity>

    </application>


</manifest>